
*{
    box-sizing: border-box;

}
body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    margin: 0;
    color: black;
    background-color: hsl(0, 0%, 100%);
    height:100%;
    width:100%; 
}
body[data-theme='dark']{
    color: white;
    background-color: hsl(230, 17%, 14%);
}
body[data-theme='light']{
    color: black;
    background-color: hsl(0, 0%, 100%);
}
.head-section[data-theme='dark'] {
    background-color: hsl(232, 19%, 15%);
}
.head-section[data-theme='light'] {
    background-color: hsl(0, 0%, 100%);
}

.creator-card[data-theme='dark'] {
    background-color: hsl(228, 28%, 20%);
    color: white;
}
.creator-card[data-theme='light'] {
    background-color: hsl(227, 47%, 96%);
    color: black;
}
.bottom__card[data-theme='dark'] {
    background-color: hsl(228, 28%, 20%);
    color: white;
}
.bottom__card[data-theme='light'] {
    background-color: hsl(227, 47%, 96%);
    color: black;
}
h1{
    margin:0;
}

.head-section{
    background-color: hsl(225, 100%, 98%);
    display: gird;
    border-bottom-left-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    height: 15rem;
    left: 0;
    position: absolute;
    top: 0;
    transition: .3s;
    width: 100%;
    z-index: 1;
}
.header-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 2;
}
.mode-toggle{
    display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-bottom: .3125rem;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px 2rem;
}

.container{
    margin-left: auto;
    margin-right: auto;
    max-width: 1250px;
    padding: .9375rem 1.5625rem;
    position: relative;
    width: 100%;
    z-index: 2;
}

.content-blocks{
    position: relative;   
}

.creator-card{
    color: black;
    position: inherit;
    width: 17rem;
    z-index: 1;
    height: 13rem;
    margin: 0 5rem;
    background-color: hsl(227, 47%, 96%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 30px; */
    transition: transform 0.2s;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 12px;
    text-align: center;
}

.content-blocks {
    width: 100%;
    max-width: 130.5rem;
    padding: 0.5rem;
    margin: -10px -7rem;
    box-sizing: border-box;
    height: 14rem;
}

.content-blocks {
    display: grid;
    grid-template-columns: repeat(auto-fill, 225px);
    /* grid-auto-rows: 100px; */
    justify-content: center;
    gap: 2rem 4rem;
}
  
img.icon-socialMedia {
    width: 1rem;
}
p.handle {
    margin-top: -1.25rem;
    /* margin-left: 2rem; */
}
.handle-details {
        /* padding-left: 3rem; */
        display: flex;
        align-items: baseline;
        align-self: center;
        flex-wrap: wrap;
        align-content: flex-end;
    
}

span.follower-count {
    font-weight: 600;
    font-size: 40px;
}
/* .container-overview{
    margin-top: 6rem;
} */
.subcribers-gain-lost {
    display: inherit;
    margin-left: 6rem;
}
img.icon-updown {
    width: .5rem;
    height: .5rem;
    margin-top: 1.25rem;
}
.overview-cards {
    column-gap: 1.75rem;
    display: grid;
    grid-template-columns: repeat(4,minmax(max-content,1fr));
    margin-top: 1.5625rem;
    row-gap: 1.5rem;
    margin: 0 1.5rem;
}



body.light .bottom__card {
    background-color: hsl(227, 47%, 96%);
}

.bottom__card {
    background-color: hsl(227, 47%, 96%);
    border-radius: .4375rem;
    cursor: pointer;
    padding: 1.5625rem 2rem 1.5625rem 1.5625rem;
    transition: .3s;
}
.bottom__card-numbers, .bottom__card-text {
    display: flex;
    justify-content: space-between;
    /* color: black; */
}

.creator-card::before {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.card--facebook::before {
    background-color: hsl(208, 92%, 53%);
}
.card--twitter::before {
    background-color: hsl(203, 89%, 53%);
}
.card--instagram::before{
    background: linear-gradient(90deg,hsl(37, 97%, 70%) 0%, hsl(329, 70%, 58%) 100%);
}
.card--youtube::before{
    background-color: hsl(348, 97%, 39%);
}

.bottom__card-text {
    align-items: center;
    margin-bottom: 1.4375rem;
    /* color: black; */
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


@media screen and (max-width:1094px) {
    .content-blocks {
        gap: 2rem 4rem;
    }
    .bottom-section{
        margin-top: 14rem;
        }
    .overview-cards {
        grid-template-columns: repeat(2,minmax(max-content,1fr));
    }

    .creator-card {
        margin: 0 2rem;
    }
}

@media screen and (max-width:912px) {
    .creator-card {
        margin: 0 5rem;
    }
}

@media screen and (max-width:914px) {
    .bottom-section {
        margin-top: 18rem;
    }
    .overview-cards {
        grid-template-columns: repeat(1,minmax(max-content,1fr));
    }
}


@media screen and (max-width:550px) {
    .bottom-section {
        margin-top: 45rem;
    }
}

/* toggle button css */

input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: hsl(230, 22%, 74%);
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 90px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

input:checked + label {
  background: linear-gradient(
    90deg
    , hsl(210, 78%, 56%) 0%, hsl(146, 68%, 55%) 100%);
}

input:checked + label:after {
  left: calc(100% - 5px);
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

label:active:after {
  width: 130px;
}

body.transition,
body.transition *,
body.transition *:before,
body.transition *:after {
  -webkit-transition: all 750ms !important;
  transition: all 750ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

